:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta: hsl(289, 100%, 72%);
  --light-violet1: hsl(267, 55%, 94%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: "Rubik", "https://fonts.google.com/specimen/Rubik";
}

.main-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-violet);

  .mobile-flex-item {
    height: 100%;
    padding: 11px;
    border-radius: 25px;
    background-color: white;
    margin: 15%;
    .mobile-flex-container {
      background-color: var(--light-grayish-violet);
      border-radius: 25px;
      display: flex;
      flex-direction: column;

      header {
        display: flex;
        flex-direction: column;
        color: white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px;
        overflow: hidden;
        background-image: linear-gradient(
          to right,
          var(--light-violet),
          var(--light-magenta)
        );

        .notch {
          width: 60%;
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
          height: 30px;
          background-color: white;
          transform: translateY(-20px);
          align-self: center;
        }

        .about-avatar {
          display: flex;
          align-items: center;
          i.back {
            transform: scale(0.7, 1.4);
          }

          i.dots {
            margin-left: auto;
            color: var(--pale-violet);
          }
          i {
            padding-right: 10px;
          }

          .avatar {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid white;
          }

          section {
            margin-left: 10px;
            color: white;
            font-weight: 700;
            p {
              color: var(--pale-violet);
              font-weight: 400;
              font-size: 10px;
            }
          }
        }
      }
      .left {
        margin: 13px 0 0 10px;
        color: var(--moderate-violet);
        background-color: var(--light-violet1);
        align-items: flex-start;
        width: 60%;
        border-radius: 10px;
        padding: 10px;
        font-weight: 400;
        font-size: 10px;
      }

      .radio {
        background-image: linear-gradient(
          to right,
          var(--light-magenta),
          var(--light-violet)
        );
        color: var(--pale-violet);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;

        input[type="radio"] {
          border-radius: 50%;
          height: 17px;
          width: 17px;
          margin-right: 10px;
          background-color: transparent;
          appearance: inherit;
          border: 1px solid var(--very-light-magenta);
        }
        input[type="radio"]:checked {
          background-color: var(--light-violet);
        }
        input[type="radio"]:focus {
          outline: none;
        }

        .price {
          margin-left: auto;
          font-weight: 700;
          font-size: 17px;
          color: white;
        }
      }

      .right {
        margin: 13px 10px 0 0;
        color: var(--desaturated-dark-violet);
        background-color: white;
        align-self: flex-end;
        width: 60%;
        border-radius: 15px;
        padding: 10px;
        font-weight: 400;
        font-size: 10px;
      }

      .dog-image {
        width: 30%;
        border-radius: 15px;
      }

      footer {
        margin: 15px 10px;
        background-color: white;
        padding: 2% 5%;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;

        input {
          color: var(--grayish-blue);
          border: none;
        }

        input:focus {
          outline: none;
        }

        button {
          // background-color: var(--very-dark-desaturated-violet);
          border: none;

          .fa {
            background-color: white;
            color: var(--very-dark-desaturated-violet);
          }
        }
      }
    }
  }
  .info-flex-item {
    text-align: center;
    padding: 0% 10%;

    .heading {
      font-size: 3rem;
      font-weight: 500;
      color: var(--very-dark-desaturated-violet);
    }
    p {
      color: var(--dark-grayish-violet);
      padding: 5% 0;
      line-height: 1.5;
      font-size: 1.2rem;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
