:root {
  --pale-violet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);
  --light-grayish-violet: hsl(270, 20%, 96%);
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --very-light-magenta: hsl(289, 100%, 72%);
  --light-violet1: hsl(267, 55%, 94%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 200vh;
  width: 100vw;
  font-size: 16px;
  font-family: "Rubik", "https://fonts.google.com/specimen/Rubik";
  background-color: var(--light-grayish-violet);
  position: relative;
}

.bg1 {
  height: 80vh;
  width: 100vw;
  position: absolute;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(60%, var(--light-violet)), to(var(--light-magenta)));
  background-image: linear-gradient(to top, var(--light-violet) 60%, var(--light-magenta));
}

.bg2 {
  height: 80vh;
  width: 100vw;
  position: absolute;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  bottom: 0;
  right: 0;
  background-color: var(--light-violet1);
}

.bg-pattern {
  background-color: var(--light-violet);
  width: 45%;
  height: 450px;
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
  border-bottom-right-radius: 100%;
}

.main-flex {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-flex .mobile-flex-item {
  height: 100%;
  padding: 11px;
  border-radius: 25px;
  background-color: white;
  margin: 15%;
}

.main-flex .mobile-flex-item .mobile-flex-container {
  background-color: var(--light-grayish-violet);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-flex .mobile-flex-item .mobile-flex-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--light-violet)), to(var(--light-magenta)));
  background-image: linear-gradient(to right, var(--light-violet), var(--light-magenta));
}

.main-flex .mobile-flex-item .mobile-flex-container header .notch {
  width: 60%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 30px;
  background-color: white;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-flex .mobile-flex-item .mobile-flex-container header .about-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-flex .mobile-flex-item .mobile-flex-container header .about-avatar i.back {
  -webkit-transform: scale(0.7, 1.4);
          transform: scale(0.7, 1.4);
}

.main-flex .mobile-flex-item .mobile-flex-container header .about-avatar i.dots {
  margin-left: auto;
  color: var(--pale-violet);
}

.main-flex .mobile-flex-item .mobile-flex-container header .about-avatar i {
  padding-right: 10px;
}

.main-flex .mobile-flex-item .mobile-flex-container header .about-avatar .avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
}

.main-flex .mobile-flex-item .mobile-flex-container header .about-avatar section {
  margin-left: 10px;
  color: white;
  font-weight: 700;
}

.main-flex .mobile-flex-item .mobile-flex-container header .about-avatar section p {
  color: var(--pale-violet);
  font-weight: 400;
  font-size: 10px;
}

.main-flex .mobile-flex-item .mobile-flex-container .left {
  margin: 13px 0 0 10px;
  color: var(--moderate-violet);
  background-color: var(--light-violet1);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  font-weight: 400;
  font-size: 10px;
}

.main-flex .mobile-flex-item .mobile-flex-container .radio {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--light-magenta)), to(var(--light-violet)));
  background-image: linear-gradient(to right, var(--light-magenta), var(--light-violet));
  color: var(--pale-violet);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.main-flex .mobile-flex-item .mobile-flex-container .radio input[type="radio"] {
  border-radius: 50%;
  height: 17px;
  width: 17px;
  margin-right: 10px;
  background-color: transparent;
  -webkit-appearance: inherit;
     -moz-appearance: inherit;
          appearance: inherit;
  border: 1px solid var(--very-light-magenta);
}

.main-flex .mobile-flex-item .mobile-flex-container .radio input[type="radio"]:checked {
  background-color: var(--light-violet);
}

.main-flex .mobile-flex-item .mobile-flex-container .radio input[type="radio"]:focus {
  outline: none;
}

.main-flex .mobile-flex-item .mobile-flex-container .radio .price {
  margin-left: auto;
  font-weight: 700;
  font-size: 17px;
  color: white;
}

.main-flex .mobile-flex-item .mobile-flex-container .right {
  margin: 13px 10px 0 0;
  color: var(--desaturated-dark-violet);
  background-color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 60%;
  border-radius: 15px;
  padding: 10px;
  font-weight: 400;
  font-size: 10px;
}

.main-flex .mobile-flex-item .mobile-flex-container .type-txt .dog-image {
  width: 30%;
  border-radius: 15px;
}

.main-flex .mobile-flex-item .mobile-flex-container .type-txt footer {
  margin: 15px 10px;
  background-color: white;
  padding: 2% 5%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-flex .mobile-flex-item .mobile-flex-container .type-txt footer input {
  color: var(--grayish-blue);
  border: none;
}

.main-flex .mobile-flex-item .mobile-flex-container .type-txt footer input:focus {
  outline: none;
}

.main-flex .mobile-flex-item .mobile-flex-container .type-txt footer button {
  border: none;
}

.main-flex .mobile-flex-item .mobile-flex-container .type-txt footer button .fa {
  background-color: white;
  color: var(--very-dark-desaturated-violet);
}

.main-flex .mobile-flex-item .info-flex-item {
  text-align: center;
  padding: 0% 10%;
}

.main-flex .mobile-flex-item .info-flex-item .heading {
  font-size: 3rem;
  font-weight: 500;
  color: var(--very-dark-desaturated-violet);
}

.main-flex .mobile-flex-item .info-flex-item p {
  color: var(--dark-grayish-violet);
  padding: 5% 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

.main-flex .attribution {
  font-size: 11px;
  text-align: center;
}

.main-flex .attribution a {
  color: #3e52a3;
}

@media (min-width: 769px) {
  .main-flex html,
  .main-flex body {
    height: 100vh;
  }
  .main-flex html .bg1,
  .main-flex body .bg1 {
    width: 30vw;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  .main-flex html .bg2,
  .main-flex body .bg2 {
    width: 30vw;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  .main-flex html .main-flex,
  .main-flex body .main-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-flex html .main-flex .info-flex-item,
  .main-flex body .main-flex .info-flex-item {
    width: 20%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */